* {
    -fx-font-smoothing-type: gray;
    -fx-font-family: "Source Sans Pro", sans-serif;
    -fx-text-fill: #424242;
}

ScrollPane {
    -fx-background: transparent;
}

TextInput {
    -fx-background-radius: 8;
}

.root {
    -fx-background-color: #DFF1F0;
}

.container {
    -fx-alignment: center;
}

.btn {
    -fx-background-color: #34C168;
    -fx-background-radius: 8;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.btn:hover {
    -fx-cursor: hand;
}

.btn-link {
    -fx-background-color: none;
    -fx-font-weight: normal;
    -fx-text-fill: #34C168;
}

.btn-wrapper {
    -fx-padding: 16;
}

.label {
    -fx-font-size: 16;
    -fx-padding: 8 0;
}

.bold-text {
    -fx-font-weight: bold;
}

.header {
    -fx-font-size: 32;
    -fx-text-alignment: center;
    -fx-text-fill: #365354;
}

.input-group {
    -fx-padding: 8;
}

.input {
    -fx-min-height: 32;
    -fx-min-width: 368;
    -fx-padding: 8;
    -fx-font-size: 16;
}


.cursor-hand {
    -fx-cursor: hand;
}

/* Chat */
.chat-header {
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(52,193,104,0.2), 20, 0, 0, 0);
}

.chat-body {
    -fx-background-color: transparent;
    -fx-border-color: none;
}

.status {
    -fx-font-weight: light;
    -fx-font-size: 14;
}

.disconnected {
    -fx-font-style: italic;
    -fx-text-fill: #979797;
}

.message-box {
    -fx-font-size: 16;
    -fx-background-radius: 8;
    -fx-padding: 16 24;
    -fx-border-insets: 8px;
    -fx-background-insets: 8px;
    -fx-max-width: 320;
    -fx-text-fill: #FFFFFF;
}

.message-image-wrapper {
    -fx-padding: 16 0;
}

.message-image:hover {
    -fx-cursor: hand;
}

.message-box-other {
    -fx-background-color: #C2A9A6;
}

.message-box-self {
    -fx-background-color: #34C168;
}

.message-text {
    -fx-fill: #FFFFFF;
}

.message-wrapper {
    -fx-padding: 0 32;
}

.text-white {
    -fx-text-fill: #FFFFFF;
}

#chatContainer {
    -fx-padding: 16 0;
}

#imageViewer {
    -fx-background-color: #000000DE;
}

#btnDownload {
    -fx-padding: 16 16 16 0;
}

#textDownload {
    -fx-padding: 16;
}
